<%= form_with(model: [:admin, check_in]) do |form| %>
  <div class="card">
    <div class="card-body">
      <div class="row">
        <div class="col-12 col-lg-6 form-group">
          <%= form.label :use_not_set %>
          <%= form.text_field :use_not_set, :class => "form-control" %>
        </div>
      </div>
    </div>
  </div>
  <%= form.submit :class => 'btn btn-primary btn-block btn-lg' %>
<% end %>
