<div class="row">
<div class="col-12 mt-3">
  <%= form_with(model: [@user_weight], local: true) do |form| %>
    <article class="card mb-2">
      <div class="card-header">
        <h3>내 정보입력</h3>
      </div>
      <div class="card-body">
        <div class="form-group">
          <%= form.label :weight %>
          <%= form.select :weight, options_for_select((40..150).to_a.map{|s| ["#{s}Kg", s]}),{}, { :class => "form-control" } %>
        </div>
      </div>
    </article>
    <div class="d-grid gap-2">
      <%= form.submit :class=>'btn btn-lg btn-primary' %>
    </div>
  <% end %>
</div>
</div>