<section id="edit-sports_wear_rental">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_sports_wear_rental) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', sports_wear_rental: @sports_wear_rental %>
    </div>
  </div>
</section>
