<section id="edit-message" class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_temp_user) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', temp_user: @temp_user %>
    </div>
  </div>
</section>
