<section id="new-locker">
  <div class="row">
    <h2 class="col-12"><%= t(:new_sports_wear) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', sports_wear: @sports_wear %>
    </div>
  </div>
</section>
