<div class="row">
  <nav class="col-12 sub-nav">
    <ul class="nav nav-pills">
      <li class="nav-item"><%= link_to t(:enroll, scope: [:activerecord, :models]), admin_enrolls_path %></li>
      <li class="nav-item"><%= link_to t(:locker_rental, scope: [:activerecord, :models]), admin_locker_rentals_path  %></li>
      <li class="nav-item"><%= link_to t(:sports_wear_rental, scope: [:activerecord, :models]), admin_sports_wear_rentals_path %></li>
    </ul>
  </nav>
</div>
