<main id="home">
  <section class="row">
    <div class="col-12 col-xl-4">
    <article class="card">
      <h3 class="card-header">무료 사용</h3>
      <ul class="card-body">
        <li>기본기능</li>
        <li>무료</li>
        <li>회원 1000명까지 지원</li>
      </ul>
    </article>
    </div>
    <div class="col-12 col-xl-4">
      <article class="card">
      <h3 class="card-header">Special</h3>
        <ul class="card-body">
        <li>기본기능+지점기능+그룹기능+검색</li>
        <li>월 3만원</li>
        <li>회원 3000명까지 지원</li>
      </ul>
    </article>
    </div>
    <div class="col-12 col-xl-4">
      <article class="card">
      <h3 class="card-header">Premium</h3>
      <ul class="card-body">
        <li>기본기능+지점기능+그룹기능+검색</li>
        <li>월 5만원</li>
        <li>회원 무제한</li>
      </ul>
    </article>
    </div>
  </section>
</main>