<main id="home">
  <nav>
    <ul class="row">
      <li class="col-12 col-md-6 col-lg-4"><%=link_to trainers_path,{class: 'media p-3 rounded-3 h-100'}  do %>
          <span class="material-icons"> accessibility_new</span>
          <%=t(:trainer) %>
        <% end %>

      </li>
    </ul>
  </nav>