<section id="edit-prepared-message">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_prepared_message) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => { :errors => @prepared_message.errors, :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', prepared_message: @prepared_message %>
    </div>
  </div>
</section>
