<section id="edit-locker_rental">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_locker_rental) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', locker_rental: @locker_rental %>
    </div>
  </div>
</section>
