<section id="new-branch">
  <div class="row">
    <h2 class="col-12"><%= t(:new_branch) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', branch: @branch %>
    </div>
  </div>
</section>
