<div class="col-12 col-lg-9">
  <div class="row">
    <h2 class="col-12">title</h2>
  </div>
  <div class="row">
    <div class="col-12">
      <article class="card">
        <h3 class="card-header">title</h3>
        <div class="card-body">
          <div class="row">
            <div class="col-12">
            </div>
          </div>
        </div>
      </article>
    </div>
  </div>
</div>