<section id="edit-locker_category" class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_locker_category) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', locker_category: @locker_category %>
    </div>
  </div>
</section>
