<div class="row">
  <nav class="col-12 sub-nav">
    <ul class="nav nav-pills">
      <li class="nav-item"><%= link_to t(:enroll, scope: [:activerecord, :models]), admin_products_path(:type=>'enroll'), class: get_nav_active_class('enrolls') %></li>
      <li class="nav-item"><%= link_to t(:locker_rental, scope: [:activerecord, :models]), admin_products_path(:type=>'locker'), class: get_nav_active_class('rents') %></li>
      <li class="nav-item"><%= link_to t(:sports_weare_rental, scope: [:activerecord, :models]), admin_products_path(:type=>'sports_wear'), class: get_nav_active_class('rent_sws') %></li>
    </ul>
  </nav>
</div>
