<section id="edit-visit-route" class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_visit_route) %></h2>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', visit_route: @visit_route %>
    </div>
  </div>
</section>
