<section id="new-course-category" class="container">
  <div class="row">
    <h2 class="col-12"><%= t(:edit_course_category) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals => { :errors => @course_category.errors, :notice => notice, :alert => alert } %>
  </div>
  <div class="row">
    <div class="col-12">
      <%= render 'form', course_category: @course_category %>
    </div>
  </div>
</section>
