<section id="new-enroll">
  <div class="row">
    <h2 class="col-12 di-title"><%=t(:new_enroll) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/user_profile' %>
    <%= render 'form', enroll: @enroll %>
  </div>
</section>
