<section id="new-enroll" class="container">
  <div class="row">
    <h2 class="col-12 di-title"><%=t(:new_enroll) %></h2>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/notice', :locals=>{:errors=>@enroll.errors, :notice=>notice,:alert=>alert} %>
  </div>
  <div class="row">
    <%= render :partial => 'layouts/user_profile' %>
    <%= render 'form', enroll: @enroll %>
  </div>
</section>
